.tabsList {
  display: flex;
}

.item {
  cursor: pointer;
  user-select: none;

  flex: 1 1 auto;

  padding: 6px 24px;

  color: var(--primary-500);

  border-bottom: 2px solid var(--primary-100);

  &:hover {
    background-color: #101722;
    border-bottom: 2px solid var(--primary-500);
  }

  &:active {
    background-color: #1c2431;
  }

  &:focus {
    background-color: var(--dark-700);
    border-radius: 2px;
    outline: 2px solid var(--primary-700);
  }
}

.item[data-state='active'] {
  background-color: #1c2431;
  border-bottom: 2px solid var(--primary-500);
}

.disabled {
  cursor: auto;
  color: var(--primary-900);
  border-bottom: 2px solid var(--primary-900);

  &:hover {
    background-color: transparent;
    border-bottom: 2px solid var(--primary-900);
  }
}
