.avatarRoot {
  user-select: none;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  vertical-align: middle;

  border-radius: 50%;

  .avatarImage {
    object-fit: cover;
    border-radius: inherit;
  }

  .avatarFallback {
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--light-100);

    background-color: var(--dark-500);
    border-radius: 50%;
  }
}
