.root {
  padding: 36px 64px 0 36px;
}

.profile {
  position: relative;
  display: flex;
  gap: 38px;
}

.photo {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 198px;
  height: 198px;

  background-color: var(--dark-500);
  border-radius: 50%;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.items {
  display: flex;
  gap: 88px;
}

.btn {
  position: absolute;
  top: 0;
  right: 0;
}

.expandDescription {
  color: var(--primary-500);
  text-decoration: underline;
}
