.container {
  padding: 10px;
}

.textArea {
  margin-bottom: 23px;
}

.textAreaEl {
  min-height: 84px;
  padding: 6px 12px;
}

.bottomLine {
  width: 100%;
  height: 1px;
  margin-bottom: 23px;
  background: var(--dark-300);
}

.submitBtn {
  align-self: flex-end;
}

.form {
  display: flex;
  flex-direction: column;
}

.dataPicker {
  width: 100%;
}

.wrap {
  margin-bottom: 4px;
}

.selectWrapper {
  width: 100%;
  color: var(--light-900);
}
