.container {
  padding: 10px;
}

.textArea {
  margin-bottom: 23px;
}

.textAreaEl {
  min-height: 84px;
  padding: 6px 12px;
}

.submitBtn {
  align-self: flex-end;
}

.form {
  display: flex;
  flex-direction: column;
}

.formWrap {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.dataPicker {
  width: 100%;
}

.wrap {
  margin-bottom: 4px;
}

.selectWrapper {
  width: 100%;
  color: var(--light-900);
}

.innerContainer {
  display: flex;
  margin-bottom: 23px;
  border-bottom: 1px solid var(--dark-300);
}
