.root {
  width: 100%;
}

.container {
  display: flex;
  gap: 7px;
  align-items: center;

  background-color: var(--dark-500);
  border: 1px solid var(--dark-100);
  border-radius: 2px;

  transition: 0.2s ease-out;

  &:hover {
    border: 1px solid var(--light-900);
  }

  &.error {
    border-color: var(--danger-500);
  }

  &.error:focus-within {
    border-color: var(--danger-300);
    outline: 1px solid var(--danger-300);
  }

  &:focus-within:not(.error) {
    border: 1px solid var(--primary-700);
    outline: 1px solid var(--primary-700);
  }
}

.textarea {
  all: unset;
  width: 100%;
  height: 100%;
  color: var(--light-900);

  &:focus-within {
    color: var(--light-100);
  }

  &:active {
    color: var(--light-100);
  }

  &:disabled::placeholder {
    color: var(--dark-100);
  }
}

.error {
  line-height: 24px !important;
  color: var(--danger-300) !important;
}

.label {
  user-select: none;
  color: var(--light-900) !important; // переменной с таким цветом нет в палитре цветов

  &.disabled {
    color: var(--dark-100) !important; // переменной с таким цветом нет в палитре цветов
  }
}

.footer {
  display: flex;
}

.errorContainer {
  flex: 1;
  height: 19px;
}
