.root {
  display: flex;
  flex-direction: column;
  width: 234px;
}

.header {
  display: flex;
  gap: 13px;
  align-items: center;
  margin-bottom: 12px;
}

.image {
  margin-bottom: 12px;
  border-radius: 5px;
}

.status {
  margin-bottom: 5px;
}

.dots {
  bottom: 24px !important;
  left: 50%;
  transform: translateX(-50%) !important;

  display: flex !important;
  flex-wrap: nowrap !important;

  width: auto !important;
  max-width: 180px !important;

  background: rgb(51 51 51 / 50%) !important;

  li button::before {
    color: var(--light-100) !important;
  }
}
