.container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.itemsContainer {
  position: relative;
  left: 0;

  display: flex;

  width: auto;
  height: 100%;

  transition: all 0.3s ease 0s;
}

.publication {
  width: 972px;
  height: 564px;

  background: var(--dark-300);
  border: 1px solid var(--dark-100);
  border-radius: 2px;
}

.publicationContainer {
  height: 504px;
}
