.modalContainer {
  width: 492px;
  height: 564px;

  background: var(--dark-300);
  border: 1px solid var(--dark-100);
  border-radius: 2px;
}

.imageContainer {
  position: relative;
  top: -60px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 222px;
  height: 228px;

  background: var(--dark-500);
  border-radius: 2px;
}

.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btnFooter {
  width: 100%;
  max-width: 222px;
  margin-top: 6px;
}

.cropContainer {
  // position: absolute;
  position: relative;
  inset: 0 0 80px;

  overflow: hidden;

  width: 492px;
  height: 504px;
}

.controls {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  align-items: center;

  width: 124px;
  height: 36px;
  padding: 0 11px;

  opacity: 0.8;
  background: var(--dark-500);
  border-radius: 5px;

  // width: 50%;
  // height: 40px;
}

.slider {
  padding: 22px 0;
}

.zoomRange {
  width: 100%;
  height: 2px;
  appearance: none;
  background: var(--light-100);

  // border-top: 5px solid #fff;
  // border-bottom: 5px solid #fff;
}

.zoomRange::-moz-range-thumb {
  width: 12px;
  height: 12px;

  appearance: none;
  background: #3f51b5;
  border: 1px solid #3f51b5;
  border-radius: 50%;

  transition: box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.zoomRange::-webkit-slider-thumb {
  width: 12px;
  height: 12px;

  appearance: none;
  background: #3f51b5;
  border: 1px solid #3f51b5;
  border-radius: 50%;

  transition: box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.controls:hover input[type='range']::-webkit-slider-thumb {
  border-radius: 50%;
  box-shadow: 0 0 0 8px rgb(63 81 181 / 16%);
}

.controls:hover input[type='range']::-moz-range-thumb {
  box-shadow: 0 0 0 8px rgb(63 81 181 / 16%);
}

.cropArea {
  border: none;
  box-shadow: none;
}
