.root {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 35px;
  text-align: center;

  .content {
    max-width: 294px;
    margin: 0 auto 30px;
  }

  .title {
    margin: 0 0 20px;
  }

  .description {
    margin: 0 0 30px;
  }
}
