html {
  box-sizing: border-box;
  font-size: 100%;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
input,
button,
select,
textarea,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  color: inherit;
}

a {
  text-decoration: none;
}

input {
  background: none;
  border: none;

  &:active,
  &:focus,
  &:focus-visible {
    outline: none;
  }
}

input:-webkit-autofill {
  background-clip: text;
}

body {
  margin: 0;
  padding: 0;

  font-family: Inter, sans-serif;
  font-size: var(--font-size-m);
  color: var(--light-100);

  background-color: var(--dark-900);
}

button {
  white-space: nowrap;
  background: none;
  border: none;

  &:hover {
    border: none;
  }
}
/* stylelint-disable no-descending-specificity */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  font-family: Inter, sans-serif;

  border: 0;
  box-shadow: 0 0 0 1000px transparent inset;

  transition: background-color 5000s ease-in-out 0s;

  -webkit-text-fill-color: var(--light-100);

  // -webkit-text-fill-color: var(--light-900);

  &:focus-visible {
    color: var(--light-100) !important;
  }

  &:active {
    color: var(--light-100) !important;
  }
}

// select:-webkit-autofill:focus,
// textarea:-webkit-autofill:focus {
//  -webkit-text-fill-color: var(--light-100);
// }
