.mainIcon {
  padding: 0px;
}

.content {
  z-index: 100;
  display: flex;
  flex-direction: column;
  row-gap: 12px;

  border-radius: 2px;
  border: 1px solid var(--dark-100);
  background: var(--dark-500);

  padding: 12px;
}
