.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 481px;

  // height: 263px;
}

.wrap {
  display: flex;
  flex-direction: column;
  padding: 24px 0;
}

.userInfo {
  display: flex;
  flex-direction: row;

  width: 433px;
  height: 36px;
  margin-bottom: 24px;
  padding: 0 24px;
}

.ava {
  width: 36px;
  height: 36px;
  margin-right: 12px;

  border-radius: 50%;
}

.userName {
  width: 90px;
  height: 24px;
  margin-top: 6px;
}

.textArea {
  textarea {
  }
}

.counter {
  display: flex;
  justify-content: flex-end;

  width: 433px;
  margin-top: 3px;
  margin-bottom: 24px;
}

.mainContent {
  padding: 0 24px;
  border-bottom: 1px solid var(--dark-100);

  textarea {
    height: 120px;
  }
}

.submitButton {
  position: absolute;
  top: 21px;
  right: 25px;
  color: var(--primary-500);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  cursor: pointer;
}

.loader {
  position: absolute;
  top: 20px;
  left: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
