.modalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-width: 492px;
  height: 564px;
  padding-top: 72px;

  background: var(--dark-300);
  border: 1px solid var(--dark-100);
  border-radius: 2px;
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 222px;
  height: 228px;
  margin-bottom: 60px;

  background: var(--dark-500);
  border-radius: 2px;
}

.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btnFooter {
  width: 100%;
  max-width: 222px;
  margin-top: 24px;
}
