.sliderContainer {
  width: 490px;
  height: 100%;
}

.dots {
  // left: 50%;
  bottom: 12px !important;

  // width: auto !important;
  background: rgb(51 51 51 / 50%) !important;

  li button::before {
    color: var(--light-100) !important;
  }
}
