.sliderContainer {
  width: 490px;
  height: 100%;
}

.dots {
  // left: 50%;
  bottom: 12px !important;
  // width: auto !important;
  background: rgba(51, 51, 51, 0.5) !important;

  li button::before {
    color: var(--light-100) !important;
  }
}
