.card {
  width: 100%;
  min-width: 378px;
  max-width: 378px;
  padding: 24px;

  background: var(--dark-500);
  border: 1px solid var(--dark-300);
  border-radius: 2px;
}

.title {
  padding-bottom: 13px;
  text-align: center;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 1px;
  margin-bottom: 36px;
}

.btnWrap {
  display: flex;
  justify-content: flex-end;
}

.forgotPassLink {
  display: inline-flex;
  padding-bottom: 24px;
  color: var(--light-900) !important;

  // justify-content: flex-end;
}

.submitBtn {
  padding: 4px 0;
}

.caption {
  padding-top: 18px;
  padding-bottom: 12px;
  text-align: center;
}

.signUpLink {
  cursor: pointer;
  display: flex;
  justify-content: center;
  color: var(--primary-500) !important;
}
