.passwordRecovery {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;

  max-width: 378px;
  margin: 72px auto 0;
  padding: 24px;

  background: var(--dark-500);
  border: 1px solid var(--dark-300);
  border-radius: 2px;

  .form {
    width: 100%;
  }

  .title {
    margin-bottom: 36px;
  }

  .instructions {
    margin-bottom: 40px;
    color: var(--light-900);
  }

  .submitBtn {
    margin-bottom: 12px;
  }
}
