.root {
  width: 100%;

  :global(.react-datepicker-wrapper) {
    width: 100%;
  }

  :global(.react-datepicker__day--outside-month) {
    color: var(--dark-100);
  }

  :global(.react-datepicker__day--weekend) {
    color: var(--light-900);
  }

  :global(.react-datepicker__day--today) {
    color: var(--primary-500);
  }

  :global(.react-datepicker__day--selected) {
    color: var(--light-100);
    background-color: var(--primary-900);
    background-image: radial-gradient(28px circle, var(--primary-500) 48%, transparent 51%);
    border-radius: 50%;
  }

  :global(.react-datepicker__day--keyboard-selected) {
    background-color: transparent;
  }

  :global(.react-datepicker__day-name) {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 36px;
    height: 36px;
    margin: 0;

    color: var(--dark-100);
  }

  :global(.react-datepicker__header) {
    padding: 0;
    background-color: transparent;
    border-bottom: none;
  }

  :global(.react-datepicker__month) {
    margin: 0;
  }

  :global(.react-datepicker__month-container) {
    width: 252px;
  }

  :global(.react-datepicker__day-names) {
    margin-bottom: 12px;
  }

  /* day styles */
  :global(.react-datepicker__day) {
    position: relative;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 36px;
    height: 36px;
    margin: 0;

    color: var(--light-100);

    border-radius: 50%;
    outline: none;

    transition: 200ms background-color;

    &:hover {
      background-color: var(--primary-900);
      border-radius: 50%;
    }

    &:focus-visible {
      background-color: transparent;
      border: 2px solid var(--primary-300);
    }
  }
}

.calendar {
  width: 300px;
  padding: 16px 24px;

  font-family: inherit;
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  color: var(--light-100);

  background-color: var(--dark-500);
  border-color: var(--dark-300);
  border-radius: 2px;
}

.icon {
  position: absolute;
  right: 12px;

  &.disabled {
    //  color: var(--color-text-disabled);
  }
}

.input {
  position: relative;
  width: 100%;
  color: var(--light-900);

  &:hover {
    color: var(--light-100);
  }

  &:focus-within {
    color: var(--light-100);
  }

  &:active {
    color: var(--light-100);
  }

  &.error {
    color: var(--danger-500);
  }
}

.inputContainer {
  position: relative;

  display: flex;
  gap: 22px;
  align-items: center;

  padding: 6px 10px;

  border: 1px solid var(--dark-300);
  border-radius: 2px;

  &:hover {
    border: 1px solid var(--light-900);
  }

  &.error {
    border-color: var(--danger-300);

    // outline: 1px solid var(--danger-300);
  }

  &.error:focus-within {
    border-color: var(--danger-300);
    outline: 1px solid var(--danger-300);
  }

  &:has(.range) {
    .icon {
      position: static;
    }

    .input {
      width: 193px;
    }
  }

  &:focus-within:not(.error) {
    background: var(--dark-500);
    border: 1px solid var(--primary-700);
    outline: 1px solid var(--primary-700);
  }

  &:active:not(.error) {
    background: var(--dark-500);
    border: 1px solid var(--primary-700);
    outline: 1px solid var(--primary-700);
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 8px;
}

.buttonBox {
  display: flex;
}

.button {
  all: unset;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;

  background: var(--dark-100);
  border-radius: 50%;

  transition: 200ms background-color;

  &:hover {
    background-color: var(--dark-100);
  }
}

.errorText {
  margin: 4px 0 0;
  font-size: var(--font-size-sx);
  line-height: var(--line-height-m);
  color: var(--danger-300);
}

.errorContainer {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 23px;
}

/* date-range day styles */

.day {
  &:global(.react-datepicker__day--in-selecting-range) {
    background-color: var(--primary-900);
    border-radius: 0;
  }

  &:global(.react-datepicker__day--selecting-range-start) {
    background-color: var(--primary-900);
    background-image: radial-gradient(28px circle, var(--primary-500) 48%, transparent 51%);
    border-radius: 50% 0 0 50%;

    // border-radius: 50%;
  }

  &:global(.react-datepicker__day--selecting-range-end) {
    background-color: var(--primary-900);
    background-image: radial-gradient(28px circle, var(--primary-500) 48%, transparent 51%);
    border-radius: 0 50% 50% 0;
  }

  &:global(.react-datepicker__day--in-range) {
    background-color: var(--primary-900);
    border-radius: 0;
  }

  &:global(.react-datepicker__day--range-start) {
    background-color: var(--primary-900);
    background-image: radial-gradient(28px circle, var(--primary-500) 48%, transparent 51%);
    border-radius: 50% 0 0 50%;
  }

  &:global(.react-datepicker__day--range-end) {
    // color: var(--color-neutral-light-50);
    // background-color: var(--color-action-hover);
    // background-image: radial-gradient(28px circle, var(--color-accent-500) 48%, transparent 51%);
    background-color: var(--primary-900);
    background-image: radial-gradient(28px circle, var(--primary-500) 48%, transparent 51%);
    border-radius: 0 50% 50% 0;
  }
}

.label {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  color: var(--light-900);
}
