.title {
  margin-bottom: 20px;
  text-align: center;
}

.backButton {
  display: flex;
  gap: 8px;
  align-items: center;

  margin-right: auto;
  padding: 6px 0;
}

.buttonIcon {
  color: var(--light-100);
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 24px 110px;
}

.text {
  padding: 0 73px;
}

.paragrhaph {
  margin-bottom: 8px;
}

.span p {
  margin-bottom: 8px;
}
