.root {
  width: 100%;
  padding: 36px 64px 26px 24px;
}

.formContent {
  display: flex;
  gap: 40px;
  width: 100%;
}

.form {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 100%;
  padding-top: 24px;
}

.userImageBox {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;

  padding-top: 48px;
}

.userImage {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 198px;
  height: 198px;

  background-color: var(--dark-500);
  border-radius: 50%;
}

.userInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 24px;
}

.select {
  width: 100%;
  margin-bottom: 24px;
}

.textArea {
  resize: none;

  width: 100%;
  height: 84px;
  padding: 0 12px;

  background-color: inherit;
  border: none;

  :active {
    border: none;
  }

  :focus {
    border: none;
  }
}

.line {
  position: absolute;
  right: 0;
  bottom: 36px;

  width: 100%;
  height: 1px;
  margin-bottom: 24px;

  background-color: var(--dark-300);
}

.line2 {
  position: absolute;
  right: 0;
  bottom: 36px;
  left: 0;

  width: 120%;
  height: 1px;
  margin-bottom: 24px;

  background-color: var(--dark-300);
}

.submitBtn {
  align-self: end;
  margin-top: 48px;
}
