.root {
  width: 100%;
  padding: 36px 64px 26px 24px;
}

.form {
  display: flex;
  flex-direction: column;
}

.fortContent {
  display: flex;
  gap: 40px;

  margin-bottom: 24px;
  padding-bottom: 24px;

  border-bottom: 1px solid var(--dark-300);
}

.userImageBox {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;

  padding-top: 48px;
}

.userImage {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 198px;
  height: 198px;

  background-color: var(--dark-500);
  border-radius: 50%;
}

.userInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 24px;
}

.select {
  width: 100%;
  margin-bottom: 24px;
}

.submitBtn {
  align-self: end;
}
