.container {
  position: relative;
  background-color: var(--dark-300);
}

.photoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 222px;
  height: 228px;
  margin-top: 20px;

  background-color: var(--dark-500);
  border-radius: 2px;
}

.emptyPhotoContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 222px;
  min-height: 228px;
}

.selectPhoto {
  margin-top: 36px;
}

.save {
  align-self: flex-end;
}

.saveBtn {
  padding: 6px 24px;
}

.loader {
  width: 100%;
  height: 100%;
}

.addPhotoContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: 564px;
  width: 492px;
}

.CroppedPageContainer {
  padding: 0;
  height: 564px;
  width: 492px;
}
.filterContainer {
  width: 972px;
  height: 564px;
}
.publishContainer {
  display: flex;
  width: 972px;
  height: 564px;
}
.layer {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.btn {
  min-width: 219px;
}
